<template>
  <div class="min-h-screen w-full bg-gray-200">
    <div class="flex justify-end bg-gray-800 w-full p-2" v-if="isAuth">
      <button
        @click="on_logout"
        class="bg-transparent hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-white hover:border-transparent rounded"
      >Logout</button>
    </div>
    <nuxt />
  </div>
</template>

<script>
export default {
  methods: {
    async on_logout() {
      await this.logout();
      location.reload();
    }
  }
};
</script>