<template>
  <div class="pt-10 flex justify-center">
    <button
      @click="$router.push('/profile')"
      class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded m-2"
    >Profile</button>
    <button
      @click="$router.push('/security')"
      class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded m-2"
    >Security</button>
  </div>
</template>