<template>
  <div class="w-full h-full flex justify-center">
    <div class="max-w-xs my-auto">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
          <input
            v-model="username"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Username"
          />
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
          <input
            v-model="password"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            type="password"
            placeholder="******************"
          />
          <p v-if="error" class="text-red-500 text-xs italic">{{error.message}}</p>
        </div>
        <div class="flex items-center justify-between">
          <button
            @click="login()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button"
          >Sign In</button>
          <a
            class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
            href="#"
          >Forgot Password?</a>
        </div>
      </form>
      <a
        @click="$emit('signup')"
        class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
        href="#"
      >Register</a>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      username: "",
      password: "",
      error: null
    };
  },
  methods: {
    ...mapActions("auth", {
      logIn: "login"
    }),
    async login() {
      try {
        const resp = await this.logIn({
          username: this.username,
          password: this.password
        });
        // console.log(resp);
      } catch (error) {
        this.error = error.response.data;
      }

      // try {
      //   const resp = await this.$axios.$get(
      //     `/auth?username=${this.username}&password=${this.password}`
      //   );
      //   console.log(resp);
      // } catch (error) {
      //   this.error = error.response.data;
      // }
    }
  }
};
</script>