<template>
  <div class="w-full h-full">
    <homeAuth v-if="isAuth" />
    <homeNA v-else />
  </div>
</template>

<script>
import homeNA from "../components/homeNotRegistred";
import homeAuth from "../components/homeAuth";
export default {
  components: {
    homeNA,
    homeAuth
  }
};
</script>