<template>
  <div class="w-full h-full flex justify-center">
    <div class="max-w-xs mt-4">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="oldPassword">Old Password</label>
          <input
            v-model="oldPassword"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="password"
            placeholder="******************"
          />
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">New Password</label>
          <input
            v-model="password"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            type="password"
            placeholder="******************"
          />
          <p v-if="error" class="text-red-500 text-xs italic">{{error.message}}</p>
        </div>
        <div class="flex items-center justify-between">
          <button
            @click="save()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button"
          >Save</button>
        </div>
        <a
          @click="reset"
          class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
          href="#"
        >Forgot Password? Reset it</a>
      </form>
      <p v-if="new_pwd">{{`New password is ${new_pwd}`}}</p>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      oldPassword: "",
      password: "",
      error: null,
      new_pwd: null
    };
  },
  methods: {
    async save() {
      try {
        const resp = await this.ajaxPost("/user/changePassword", {
          oldPassword: this.oldPassword,
          password: this.password
        });
        this.oldPassword = "";
        this.password = "";
        this.error = null;
        this.new_pwd = null;
        this.$toast.success("Password is changed").goAway(3000);
      } catch (error) {
        this.error = error.response.data;
      }
    },
    async reset() {
      try {
        const resp = await this.ajaxPost("/user/resetPassword", {});
        this.$toast.success("Success").goAway(3000);
        this.new_pwd = resp.pwd;
      } catch (error) {
        alert("asdokm");
      }
    }
  }
};
</script>